body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, rgb(0, 253, 0), rgb(19, 148, 19));
  text-align: center;
}

h1 {
  font-size: 20pt;
  font-style: italic;
  color: rgb(15, 187, 9);
  justify-self: center;
}

main {
  background-color: white;
  margin: auto;
  width: 630px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgb(24, 170, 11);
  padding: 10px;
}

form#form-reposotorios {
  margin-top: 30px;
}

fieldset#username {
  border-color: #cecece;
  text-align: left;
}

legend {
  color: rgb(15, 187, 9);
  font-weight: bold;
  font-size: 13pt;
  font-family: sans-serif;
}

button#btnBuscar {
  margin-top: 25px;
  width: 600px;
  height: 40px;
  border-radius: 15px;
  border: 3px solid green;
  color: rgb(29, 143, 0);
  background-color: white;
  font-size: 13pt;
  font-weight: bold;
  transition: all 0.7s;
}

button#btnBuscar:hover {
  cursor: pointer;
  color: white;
  background-color: green;
}

img {
  width: 120px;
  border-radius: 50%;
  margin-top: 20px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  margin-top: 20px;
}

h2 {
  font-size: 15pt;
  color: rgb(27, 117, 24);
  justify-self: center;
}
